.router-main-container {
	line-height: 60px;
    height: 60px;
}

.router-main-ul {
	overflow: hidden;
	margin-bottom: 0;
}

.router-main-li {
	float: left;
	margin-right: 20px;
	margin-left: 20px;
	font-size: 18px;
	list-style-type: none;
	a {
		text-decoration: none;
		color: #ccc;
	}
}

.out-login {
	float: right;
	padding-right: 50px;
	cursor: pointer;
}
